.gpt3__box {
	padding: 6rem 6rem 2rem;
}

.gpt3__box-child {
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 3rem 6rem;

	/* ff 3.6+ */
	background: -moz-radial-gradient(
		circle at 0% 0%,
		rgba(129, 175, 221, 1) 0%,
		rgba(15, 66, 121, 1) 10%,
		rgba(15, 66, 121, 1) 89%,
		rgba(129, 175, 221, 1) 100%
	);

	/* safari 5.1+,chrome 10+ */
	background: -webkit-radial-gradient(
		circle at 0% 0%,
		rgba(129, 175, 221, 1) 0%,
		rgba(15, 66, 121, 1) 10%,
		rgba(15, 66, 121, 1) 89%,
		rgba(129, 175, 221, 1) 100%
	);

	/* opera 11.10+ */
	background: -o-radial-gradient(
		circle at 0% 0%,
		rgba(129, 175, 221, 1) 0%,
		rgba(15, 66, 121, 1) 10%,
		rgba(15, 66, 121, 1) 89%,
		rgba(129, 175, 221, 1) 100%
	);

	/* ie 10+ */
	background: -ms-radial-gradient(
		circle at 0% 0%,
		rgba(129, 175, 221, 1) 0%,
		rgba(15, 66, 121, 1) 10%,
		rgba(15, 66, 121, 1) 89%,
		rgba(129, 175, 221, 1) 100%
	);

	/* global 92%+ browsers support */
	background: radial-gradient(
		circle at 0% 0%,
		rgba(129, 175, 221, 1) 0%,
		rgba(15, 66, 121, 1) 10%,
		rgba(15, 66, 121, 1) 89%,
		rgba(129, 175, 221, 1) 100%
	);

	color: #fff;
	font-family: var(--font-family);
}

.gpt3__box-child h2 {
	font-weight: 800;
	font-size: 24px;
	line-height: 75px;
	flex: 30%;
	position: relative;
}

.gpt3__box-child h2::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%), #ffffff;
}

.gpt3__box-child p {
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #81afdd;
	flex: 60%;
}

.gpt3__box-child_one {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 10%;
	margin-bottom: 4rem;
}

.gpt3__box-child_one h2::after {
	top: 5px;
	left: 0;
}

.gpt3__box-child_two {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 4rem;
}

.gpt3__box-child_two h2 {
	flex: 50%;
	font-weight: 800;
	font-size: 34px;
	line-height: 45px;
	background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%), #ffffff;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.gpt3__box-child_two h2::after {
	width: 0;
}

.gpt3__box-child_two button {
	flex: 30%;
	width: fit-content;
	text-align: right;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #ff8a71;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s ease;
}

.gpt3__box-child_two button:hover {
	transform: translateX(-20px) scale(1.1);
}

.gpt3__box-child_three {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5%;
}

.gpt3__box-child_three h2::after {
	top: 10px;
	left: 0;
}

@media screen and (max-width: 950px) {
	.gpt3__box-child {
		padding: 3rem;
	}
	.gpt3__box-child_one,
	.gpt3__box-child_two,
	.gpt3__box-child_three {
		flex-direction: column;
	}
	.gpt3__box-child_two h2 {
		margin-bottom: 1rem;
	}
	.gpt3__box-child_two button {
		align-self: flex-start;
	}
	.gpt3__box-child_three div:not(:last-child) {
		margin-bottom: 1.5rem;
	}
	.gpt3__box-child_three div h2 {
		margin-bottom: -1rem;
	}
}

@media screen and (max-width: 700px) {
	.gpt3__box {
		padding: 6rem 1rem 2rem;
	}
	.gpt3__box-child {
		padding: 1.5rem;
	}
}
