.footer-parent {
	padding-top: 6rem;
	padding-bottom: 1rem;
	background-color: #031b34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-family: var(--font-family);
	color: white;
	/* text-align: center; */
}

.footer-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-1 h1 {
	width: 70%;
	margin: auto;
	font-weight: 800;
	font-size: 62px;
	line-height: 75px;
	text-align: center;
	letter-spacing: -0.04em;
	background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	margin-bottom: 3rem;
}

.footer-1 button {
	color: white;
	padding: 20px;
	background-color: transparent;
	border: 1px solid #fff;
	outline: none;
	font-size: 18px;
	cursor: pointer;
	transition: 0.3s ease;
}

.footer-1 button:hover {
	transform: scale(1.1);
	color: #ff4820;
	border-color: transparent;
}

.footer-2 {
	padding-top: 6rem;
	padding-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* .footer-2 .logo {
	flex: 60%;
} */

.footer-2 .logo h2 {
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 2rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.footer-2 .logo h2:hover {
	transform: scale(1.1);
}

.footer-2 .logo p {
	width: 60%;
	font-size: 12px;
	line-height: 14px;
}

.footer-2 .navigations {
	display: flex;
	justify-content: space-between;
}

.footer-2 .navigations .navs {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 60px;
}

.footer-2 span {
	font-weight: bold;
	display: block;
	margin-bottom: 2rem;
	font-size: 14px;
	line-height: 16px;
}

.footer-2 .navigations ul li {
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 2rem;
	transition: all 0.3s ease;
}

.footer-2 .navigations ul li:hover {
	transform: translateX(5px);
}

.footer-3 p {
	font-size: 12px;
	line-height: 14px;
	font-feature-settings: 'liga' off;
}

@media screen and (max-width: 800px) {
	.footer-1 h1 {
		font-size: 50px;
	}
	.footer-1 button {
		padding: 15px;
	}
}

@media screen and (max-width: 700px) {
	.footer-parent {
		padding: 6rem 1rem 1rem;
	}
	.footer-1 h1 {
		width: 100%;
		font-size: 40px;
		line-height: 60px;
	}
	.footer-1 button {
		padding: 10px;
		font-size: 15px;
	}
	.footer-2 .navigations {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.footer-2 .navigations .logo {
		margin-bottom: 3rem;
		text-align: center;
	}
	.footer-2 .navigations .logo h2 {
		margin-bottom: 1rem;
	}
	.footer-2 .navigations .logo p {
		margin: auto;
	}
	.footer-2 .navigations .navs {
		gap: 20px;
	}
	.footer-2 .navigations .navs div {
		width: calc(90% / 3);
		text-align: center;
	}
}
